.mbxl .input-group{
    float: right;
    min-width: 200px;
    border-radius: 4px !important;
}
.mbxl .input-group input{
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
}
.mbxl .input-group button{
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background-color: #fff;
}
.info-table-tboby tr td:last-child{
    width: 200px;
}
.info-table-thead i{
    position: relative;
    left: 5px;
}
.info-table-thead .pointer{
    cursor: pointer;
}
.info-table-tfoot td{
    border-top: 1px solid #fff !important;
}
.info-table-tfoot tr:last-child td{
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd;
    color: #999;
    text-align: center;
}
.info-table-tboby tr,.info-table-tfoot tr{
    cursor: pointer;
}
.info-table-tfoot>tr:last-child:hover>td {
     background-color: #f5f5f5;
}